/* ---------- Color Module Styles ----------- */

body {
  color: #31db9f;
  background: #689a36;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #51d5be;
}
.tabs ul.primary li a.is-active {
  background-color: #51d5be;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #51d5be;
  background-color: #51d5be;
}
#header {
  background-color: #21e7dd;
  background-image: -webkit-linear-gradient(top, #0ca04e 0%, #21e7dd 100%);
  background-image: linear-gradient(to bottom, #0ca04e 0%, #21e7dd 100%);
}
a,
.link {
  color: #41b714;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #48ec0a;
}
a:active,
.link:active {
  color: #6bfd33;
}
.sidebar .block {
  border-color: #4b7834;
  background-color: #6be4e4;
}
.site-footer {
  background: #689a36;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #39e34d;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
